/* generell styles that are required fpor every file for the website */
@font-face {
    font-family: "Roboto";
    src: url("./Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h3{
    font-size: 36px;
}
p{
    font-size: 18px;
}
button{
    border: None;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    font-size: 18px;
}



#site{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

#content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    height: calc(100% - calc(40px + 5%));
}

#anchor{
    position: relative;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

#task-selection-button{
    position: absolute;
    top: 10px;
    right: 5%;
    z-index: 9999;
    background-color: #394047;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    
}

#page-tabs{
    font-size: 18px;
    width: 100%;
    flex-shrink: 0;
}

#content-page{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    margin-top: 40px;
}

#navigation{
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
    bottom: 0px;
    height: calc(40px + 5%);
    flex-shrink: 0;
}

#page-indicator{
    flex-grow: 1;
    text-align: center;
}

.navBtn{
    font-size: 24px;
    width: 25vh;
}

#camera-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


#drawing-area{
    width: 640px;
    height: 480px;
}